.hover_bkgr_fricc{
    backdrop-filter: blur(10px);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #000;
	border:solid 1px #4682B4;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.style_modal {
	color:white;
	
}

.popupCloseButton {
    background-color: black;
    border: solid 1px #4682B4;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: -15px;
    right: -15px;
	color:white;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #4682B4;
	color:white;
}

/*descrpitive pop up boxes */
.inp-modal {
  backdrop-filter: blur(10px);
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  transition: all 0.4s;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.inp-modal-content {
  background-image: url("modal.png");
  margin: auto;
  padding: 20px;
  width: 80%;
  height:80%
}

/* The Close Button */
.inp-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.inp-close:hover,
.inp-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.inp-modal-content-detail-wrapper{
	display:flex;
	width:90%;
	justify-content: center;
	align-items:center;
	height:100%;
}

.inp-modal-content-heading-wrapper{
	width:30%;
	height:100%;
	font-size:5vh;
	border-right:2px solid white;
}

.inp-modal-content-heading {
	position:absolute; 
	left:12%; 
	color:white;
	bottom:30%;
	width:18%;
}

.inp-modal-content-para{
	width:70%;
	display:flex;
	flex-direction:column;
	height:110%;
	background-image: linear-gradient(to right, rgba(255,255,255,0.6) , rgba(255,255,255,0));
	justify-content: space-between;
	color:black;
	padding:10px;
}

@media only screen and (orientation:portrait) {
	.inp-modal-content-detail-wrapper{
		flex-direction:column;
		width:95%;
	}
	
	.inp-modal-content-heading-wrapper{
		width:95%;
		height:auto;
		font-size:7vw;
		border-bottom:2px solid white;
		border-right:none;
	}
	
	.inp-modal-content-heading {
		position:relative; 
		left:0%;
		padding:5px;
		bottom:0%;	
	}
	
	.inp-modal-content-para{
		width:110%;
		height:55%;
		font-size:4vw;
		overflow-y:scroll;
		padding:5px;
		margin-left:15px;
		background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) , rgba(255,255,255,0));
	}
	
}
