* {
  box-sizing: border-box;
}

.css-slider-wrapper {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slider */
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.slide-1 {
  background: #fbad99;
  left: 0;
}
.slide-2 {
  background: #a9785c;
  left: 100%
}
.slide-3 {
  background: black;
  left: 200%
}

.slider {
  display: flex;
  justify-content: flex-start;
  outline: none;
}

.slider &gt; img {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}
 
.slide-1 &gt; img {
  right: 0;
}

/* Animations */

.slider &gt; img {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.2s; /* Safari */
  transition-delay: 1.2s;
}

/* Slider Pagger */
.slider-pagination {
  position: absolute;
  bottom: 30px;
  width: 575px;
  left: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.slider-pagination label {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
}

/* Slider Pagger Event */

.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3 {
  width: 14px;
  height: 14px;
  border: 2px solid aqua;
  background: transparent;
}


 .slider-op1{
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
 .slider-op2{
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slider-op3{
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

#grid_display{

  
  position: absolute;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background: auto;
  display: none;
}

#viewport{
  position: absolute;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}